*, *:before, *:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic);

/*=========================Variables define=============================*/
$break-warpper: 1366px;
$break-large: 600px;
$break-small: 320px;
$font-stack: 'Lato', sans-serif;
$Cyan:      #34D1C6;
$Dark-Gray: #7E7774;	
$White:     #FFFFFF;
$Soft-Red:  #DF5C52;
$left: left;
$right: right;
$nav-button-bg: #54d8cf;



/*=========================mixin define=============================*/
@mixin mp ($mp-none){
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

body,ul, li,ol {
	color: $Dark-Gray;
	font: 100% $font-stack;
	@include mp (0);
}

body img{
	max-width: 100%;
}

.warpper {
	max-width: $break-warpper;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
	/*=========================Header scss=============================*/

	header{
		background: $Cyan;
		overflow: hidden;
		.logo{
			margin: 40px 0 31px 22px;
			float: $left;
		}

		.top-nav-menu-button{
			background: $nav-button-bg;
			outline: none;
			border: none;
			color: $White;
			cursor: pointer;
			font-weight: 700;
			padding: 15px 10px;
			font-size: 16px;
			margin: 38px 22px 0 0;
			float: $right;

				@media screen and (min-width: $break-large) {
					display:none;
				}
		}

		.header-right{
			clear: both;
			margin: 0 22px;

			@media screen and (min-width: $break-large) {
				float: $right;
				clear: none;
				margin: 65px 22px 0 0;
				width: 38%;
				text-align: right;
			}

			.top-nav li{
			border-bottom: solid 1px $nav-button-bg;
			padding: 19px 0;

				@media screen and (min-width: $break-large) {
					float: $left;
					border-bottom: 0;
					padding: 0;
					margin-right: 50px;
				}
				a{
					color: $White;
					font-size: 16px;
					text-decoration: none;
					font-weight: 700;
				}
			}
			.header-icons{
				margin: 15px 0 25px 0;
					@media screen and (min-width: $break-large) {
						margin: 0;
					}
				i{
				color: $White;
				@include border-radius(12px);
				padding: 4px 0;
				height: 24px;
				width: 24px;
				text-align: center;
				cursor: pointer;
				margin-right: 5px;
				background: #5291bd;
				}

				i + i{
				background: #53c1dd;
				}

				i + i + i{
				background: #f6b14a;
				}

					i + i + i + i{
					background: #d85557; 
					margin-right: 0;
				}
			}

		}
	}

	/*=========================Slideshow scss=============================*/

	.slideshow{
		background: #f7f7f7;
		position: relative;
		margin-bottom: 85px;

		.slideshow-title{
			color: $Dark-Gray;
			font-size: 24px;
			font-weight: 400; 
			padding: 0 13px;
			@media screen and (min-width: $break-large){
				position:absolute;
				top: 100px;
				right: 60px;
				width: 30%;
				color: $White;	
			}

		}

		.slideshow-num{
			overflow: hidden;
			text-align: center;
			padding: 18px 0 55px 0;

			b{
			@include border-radius(7px);
			border: solid 1px #b2acac;
			width: 14px;
			height: 14px;
			display: inline-block;
			cursor: pointer;
				&:hover{
					background: #b2acac;
				}
				&:active{
					background: #b2acac;
				}
				@media screen and (min-width: $break-large){
					display: block;
					margin-bottom: 5px;	
				}
			}
			@media screen and (min-width: $break-large){
				position: absolute;
				top: 180px;
				left: 20px;

			}
		}
		.slideshow-h-outer {
			bottom: -50px;
		    left: 0;
		    position: absolute;
		    text-align: center;
		    width: 100%;

		    .slideshow-h{
				@include border-radius(50px);
				width: 100px;
				height: 100px;
				background: $Cyan;
				color: $White;
				font-size: 46px;
				text-align: center;
				padding: 18px 0;
				margin: 0 auto;
			}
		}
	}
	/*=========================he text scss=============================*/
	.he-text{
		padding: 0 25px 60px;
		text-align: center;
		h1{
			font-size: 24px;
			font-weight: 400;
		}
		a{
			color: $Cyan;
			text-decoration: none;
			font-weight: 700;
			padding-right: 10px;
		}
		a + a{
			padding-left: 10px;
		}
	}
	/*=========================work scss=============================*/
	.work{
		padding: 0 22px 55px 22px;
		text-align: center;
		border-bottom: solid 1px #ddd;
		overflow: hidden;
		
		.work-sample{
			overflow: hidden;
		}
		.work-sample li{
			margin-bottom: 30px;
			@media screen and (min-width: $break-large){
				float: $left;
				width: 31.5%;
				height: auto;
				color: #f7f7f7;
				margin-right: 2.6%;

				&:nth-child(3n){
					margin-right: 0;
				}
			}
		}
		button{
			background: #f7f7f7;
			padding: 14px 27px;
			font-size: 16px;
			font-style: italic;
			font-weight: 400;
			color: $Dark-Gray;
			cursor: pointer;
			border: 0;
		}
	}
	/*=========================Latestnews scss=============================*/
	.latest-news{
		padding: 85px 22px 55px 22px;

		h1{
			text-align: center;
			color: $Cyan;
			margin: 0 0 65px 0;
		}
		.latest-news-inner li{
			margin-bottom: 35px;
			@media screen and (min-width: $break-large){
				float: $left;
				width: 23.2%;
				height: auto;
				margin-right: 2.3%;
				&:last-child{
					margin-right:0;
				}
			}

			h2 {
				font-size: 16px;
				font-weight: 400px;
				a{
					color: $Cyan;
					text-decoration: none;
				}
			}
		}

	}




